/* ルート要素のフォントサイズを20pxにする */
html {
  font-size: 20px;
}

/* bobyのフォントを"Arial","Meiryo",sans-serifに設定する */
body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}

/* スカイブルーにする文字とピンクにする文字をクラス名で指定 */
.blue {
  color: skyblue;
}

.pink {
  color: rgb(255, 192, 203);
}

/* h1に対しての装飾 */
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 3px rgb(135, 128, 128);
  border-bottom: solid 3px rgb(115, 115, 114);
}

/* #basicの子孫要素について、直下の子要素のpタグのみ太文字にする */
#basic > p {
  font-weight: bold;
}